.crystal {
    width: 50px;
    height: 50px;
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
    background: lightskyblue;
}

.panel-body {
    height: 250px;
}

.panel-footer {
    background: lightskyblue;
    height: 93px;
    text-align: center;
}

.display-3 {
    text-align: center;
}

.lead {
    text-align: center;
}

#instructions {
    text-align: center;
    background: lightskyblue;
}

#game {
    background: lightskyblue;
}

.center {
    text-align: center;
}

body {
    font-family: 'Orbitron', sans-serif;
    background: linear-gradient(to bottom right, rgb(158, 218, 255), rgb(255, 78, 137));
}